# Google Service Account Credentials
# Create a Google Service Account in GCP, grant it Editor access to the Spreadsheet, and fill this info:
GOOGLE_CLIENT_EMAIL=your-service-account@your-project-id.iam.gserviceaccount.com

# Make sure to copy the entire private key including the BEGIN/END headers, replacing newlines with \n if it's single line
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"

# The string of characters in the URL of your Google Sheet between /d/ and /edit
GOOGLE_SHEET_ID=your_google_spreadsheet_id_here

# Admin Control Panel Access Credentials
ADMIN_PASSWORD=admin123
